    <section class="cta-section <!-- @@var css -->">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content">
                        <div class="cta-text">
                            <h4>a Unique Way to listen</h4>
                            <h2>Jazz music</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
