// Heading Color
$heading-color: #262626;

// Text Color
$text-color: #6a6a6a;

// Default Background
$bg-default: #0c0527;

$bg-default-transparency: rgba(12, 5, 38, .90);

// Default Background
$bg-secondary: #1D1633;

// Gray Background
$bg-gray: #f3f3f3;

// purple
$purple: #27203f;

// Primary Color
$pri-color: #bd177a;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #eaeaea;

// Hover Color
$hover-color: $pri-color;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #838383;

// Third color
$third-color: #c5afd9;
