
@font-face {
    font-family: 'Billionaire';
    src: url(../vendor/fonts/BillionaireMediumGrunge.ttf) format('truetype');
    //src: url(../vendor/fonts/BillionaireMediumGrunge.otf) format('opentype');
}

$fonts: 'Raleway', sans-serif;
$allura-fonts: 'Allura', cursive;
$billionaire-fonts: 'Billionaire', cursive;
$roboto-fonts: 'Roboto', sans-serif;
