
@-webkit-keyframes spin {
    100% {
        @include transform(rotate(360deg));
    }
}
@keyframes spin {
    100% {
        @include transform(rotate(360deg));
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink-soft {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink-soft {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes home-slide {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(1.3));
    }
    100% {
        @include transform(scale(1));
    }
}
@keyframes home-slide {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(1.3));
    }
    100% {
        @include transform(scale(1));
    }
}

@-webkit-keyframes pulse-text {
    0%   {
        color: #f00;
    }
    50%  {
        color: #600;
    }
    100% {
        color: #f00;
    }
}

@keyframes pulse-text {
    0%   { color: #f00;}
    50%  { color: #600;}
    100% { color: #f00;}
}
