
@import 'mixins';
@import 'responsive';

.playlistEr {
    ul {
        li {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include align-items(center);
            @include justify-content-between;
            width: 100%;
            min-height: 36px;
            padding: 5px 10px;
            cursor: default;
            &:hover {
                i {
                    @include animation(blink 2s linear);
                }
            }
            i {
                font-size: 24px;
                margin-right: 5px;
                &:hover {
                    cursor: pointer;
                }
            }
            i,
            .track,
            .duration {
                @include flex(0 0 10%);
                width: 10%;
                max-width: 10%;

            }
            .title {
                @include flex(0 0 calc(70% - 10px));
                width: 70%;
                max-width: 70%;
            }
            @media #{$min-width-xs} {
                i,
                .track,
                .duration {
                    @include flex(0 0 6%);
                    width: 6%;
                    max-width: 6%;
                }
                .title {
                    @include flex(0 0 calc(82% - 10px));
                    width: 82%;
                    max-width: 82%;
                }
            }
            @media #{$min-width-sm} {
                i,
                .track,
                .duration {
                    @include flex(0 0 5%);
                    width: 5%;
                    max-width: 5%;
                }
                .title {
                    @include flex(0 0 calc(85% - 10px));
                    width: 85%;
                    max-width: 85%;
                }
            }
        }
    }
    .player {
        padding: 15px;
        text-align: center;
        .current-song-infos {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include align-items(center);
            @include justify-content-between;
            padding: 10px 15px;
            margin-top: -10px;
            margin-bottom: 10px;
            font-weight: 600;
            .track,
            .duration {
                @include flex(0 0 15%);
                width: 10%;
                max-width: 10%;
            }
            .title {
                @include flex(0 0 70%);
                width: 70%;
                max-width: 70%;
            }
        }
        audio {
            display: none;
            width: 100%;
        }
        button {
            font-size: 36px;
            height: 48px;
            min-width: 0;
            margin: 0 2px;
            @media #{$min-width-sm} {
                margin: 0 10px;
            }
        }
    }
}
