
/**
  =========== Index ===========
:: 1.0 Base
    :: 1.1.0 Preloader
    :: 1.2.0 Section Heading
    :: 1.3.0 Miscellaneous
    :: 1.4.0 ScrollUp
    :: 1.5.0 scrollDown
    :: 1.6.0 Musica Button
    :: 1.7.0 Owl carousel override
    :: 1.8.0 Signature
:: 2.0 Header area
:: 3.0 Breadcumb area
:: 4.0 CTA area
:: 5.0 Footer area
:: 6.0 Page index
    :: 6.1.0 Home slides area
    :: 6.2.0 About us section
    :: 6.3.0 Next shows section
    :: 6.4.0 Videos carousel section
    :: 6.5.0 Featured album section
    :: 6.6.0 Gallery area
:: 7.0 Page albums
:: 8.0 Page pro
:: 9.0 Page contact
:: 10.0 Mentions legales page
  =========== Index ===========
*/

@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'keyframes';
@import 'responsive';
@import 'font-size';

/* :: 1.0 Base */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonts;
    color: $heading-color;
}

p {
    line-height: 2;
    font-weight: 500;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    font-weight: 600;
    font-family: $fonts;
}

button:focus {
    outline: 0 solid transparent;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

video {
    height: 100%; // For chrome
}

/* :: 1.1.0 Preloader */

#preloader {
    display: none;
    &.jsIsActived {
        display: block;
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(center);
        background-color: $bg-default;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        .animation {
            @include animation(spin 2s infinite ease-in-out);
            img {
                @include bg-gradients-inverse;
                border-radius: 75%;
            }
        }
    }
}

/* :: 1.2.0 Section Heading */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    text-align: center;
    * {
        color: $white-color;
    }
    h2, h3, h4, h5 {
        text-transform: uppercase;
        font-weight: 900;
    }
    h6 {
        color: $third-color;
    }
}

/* :: 1.3.0 Miscellaneous */

.bg-overlay {
    &::after {
        background-color: rgba(21, 4, 48, 0.89);
    }
}

.bg-overlay2 {
    &::after {
        background-color: rgba(21, 4, 48, 0.5);
    }
}

.bg-overlay,
.bg-overlay2 {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
    &::after {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}


.bg-gradients {
    @include bg-gradients;
}

.bg-gradients-inverse {
    @include bg-gradients-inverse;
}

.bg-gradients,
.bg-gradients-inverse {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 5px;
}

.key-notes {
    li {
        i.fa,
        i.fas,
        i.far,
        i.fab {
            width: 30px;
            text-align: center;
        }
    }
}

.overflowx-hidden {
    // Usefull for wow.js animations from sides.
    overflow-x: hidden;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-error hr {
    border-top-color: #f1b0b7;
}

.alert-error .alert-link {
    color: #491217;
}

.ajax-alert {
    display: none;
}

/* :: 1.4.0 ScrollUp */

#scrollUp {
    @include bg-gradients;
    border-radius: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    @include trans-duration(500ms);
    &:hover {
        box-shadow: 0 0 60px rgba(255, 255, 255, 0.5);
    }
}

/* :: 1.5.0 scrollDown */

.scrollDown {
    position: absolute;
    bottom: 15px;
    z-index: 100;
    left: 50%;
    @include transform(translateX(-50%));
    cursor: pointer;
    h6, a {
        color: $white-color;
        font-weight: 600;
        margin-bottom: 15px;
        display: block;
    }
    .line {
        width: 3px;
        height: 60px;
        margin: auto;
        background-color: $white-color;
        @include animation(blink 2s linear infinite);
    }
    @media (max-width: 992px) {
        display: none;
    }
}

/* :: 1.6.0 Musica Button */

.musica-btn {
    @include bg-gradients;
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 133px;
    height: 42px;
    color: $white-color;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    font-size: 12px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover,
    &:focus {
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
        color: $white-color;
    }
    &.btn-2 {
        background: $heading-color;
        &:hover,
        &:focus {
            background: $hover-color;
            box-shadow: none;
            color: $white-color;
        }
    }
    &.btn-3 {
        color: $hover-color;
        padding: 0 15px;
        border-left: 3px solid #cc1573;
        border-right: 3px solid #5722a9;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        background-image: -webkit-linear-gradient(left, #cc1573 0%, #5722a9 100%), -webkit-linear-gradient(left, #cc1573 0%, #5722a9 100%);
        background-image: linear-gradient(to right, #cc1573 0%, #5722a9 100%), linear-gradient(to right, #cc1573 0%, #5722a9 100%);
        &::after {
            @include trans-duration(750ms);
            color: $white-color;
            background: #cc1573;
            background: -webkit-linear-gradient(left, #cc1573, #5722a9);
            background: linear-gradient(to right, #cc1573, #5722a9);
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
        }
        &:hover {
            box-shadow: none;
            color: $white-color;
        }
        &:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* :: 1.7.0 Owl carousel override */

/**
 * button for .owl-prev and .owl-next have been added with owl-carousel 2.3
 * Works for both version 2.2.1 and ^2.3.1
 */

.owl-carousel {
    .owl-nav {
        .owl-prev,
        .owl-next,
        button.owl-prev,
        button.owl-next {
            @include trans-duration(500ms);
            background: $bg-gray;
            border: 0 !important;
            width: 40px;
            height: 40px;
            font-size: 22px;
            color: $heading-color;
            line-height: 40px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -20px;
            @media #{$min-width-md} {
                left: 20px;
            }
            &:hover {
                @include bg-gradients;
                color: $white-color;
            }
        }
        .owl-next,
        button.owl-next {
            left: auto;
            right: 0;
            @media #{$min-width-md} {
                right: 20px;
            }
        }
    }
    .no-js & {
        & .no-js-hide {
            display: none !important;
        }
    }
}

.no-js-gallery-direction {
    html.js & {
        display: none;
    }
    margin: 10px;
    color: $white-color;
    background-color: transparent;
    @include animation(blink 2s linear infinite);
}

/* :: 1.8.0 Signature */

.signature {
    font-family: $allura-fonts;
    font-size: 36px;
    color: gray;
}

/* :: 2.0 Header area */

#header {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    height: 60px;
    @media #{$min-width-md} {
        height: 85px;
    }
    // Add a background color on scroll with jQuery
    &.add-bg {
        background-color: $bg-default;
        box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2);
    }
    .logo {
        z-index: 1002;
        @include animation(pulse 2s linear infinite);
        &.logo-side {
            height: 72px;
            @media #{$min-width-md} {
                height: initial;
            }
            @media #{$menu-breakpoint} {
                display: none;
            }
        }
        &.logo-center {
            display: none;
            @media #{$menu-breakpoint} {
                display: initial;
            }
        }
    }
    button {
        z-index: 1002;
        display: block;
        @media #{$menu-breakpoint} {
            display: none;
        }
        background-color: transparent;
        cursor: pointer;
        border: 0;
        margin-right: 1.5rem;
        span {
            display: block;
            border: 2px solid $white-color;
            border-radius: 2px;
            width:40px;
            margin-bottom: 7.5px;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    #menu {
        @include fflex(100%);
        // Toggle the menu with jQuery
        display: none;
        &.show {
            display: block;
        }
        @media #{$menu-breakpoint} {
            display: block;
        }
        nav {
            z-index: 1001;
            @include display-flex(flex);
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            background-color: $bg-default;
            background-image: url(../img/logo/logo-noir-750x750.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 0;
            height: 100vh;
            width: 100%;
            @media #{$menu-breakpoint} {
                @include justify-content(right);
                @include flex-direction(row);
                background-color: transparent;
                background-image: none;
                height: initial;
                width: initial;
                position: initial;
                padding: 0 5%;
            }
            ul {
                list-style-type: none;
                list-style-position: outside;
                text-align: right;
                margin-right: 20px;
                li {
                    margin-bottom: 10px;
                    @media #{$menu-breakpoint} {
                        display: inline;
                        &:first-child {
                            // Do not display home link when
                            // the menu is displaying on top
                            display: none;
                        }
                    }
                    a {
                        font-weight: 600;
                        font-size: 1.25rem;
                        color: $white-color;
                        font-variant: small-caps;
                        background-color: $bg-default;
                        @media #{$menu-breakpoint} {
                            font-size: 20px;
                            padding: 0 10px;
                            background-color: transparent;
                            text-shadow: 1px 1px 0 $hover-color;
                        }
                        &:hover,
                        &:focus {
                            color: $hover-color;
                            text-shadow: 1px 1px 0 black;
                        }
                    }
                }
            }
            .top-social-info {
                margin-top: 30px;
                font-size: 0.9rem;
                @media #{$menu-breakpoint} {
                    margin-left: 40px;
                    margin-top: 0;
                }
                @media #{$min-width-xl} {
                    margin-left: 70px;
                }
                a {
                    color: $white-color;
                    padding: 0 5px;
                    @media #{$menu-breakpoint} {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

/* :: 3.0 Breadcumb area */

// Bootstrap breadcrumb
.breadcrumb {
    border-radius: 0;
}

.breadcumb-area {
    @include bg-img;
    background-image: url(../img/bg/hotswingsextet-1920x792.jpg);
    background-position: 50% 20%;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 220px;
    @media #{$min-width-md} {
        height: 250px;
    }
    @media #{$min-width-lg} {
        height: 270px;
    }
    @media #{$min-width-xl} {
        height: 345px;
    }
    &.contact {
        display: none;
        @media #{$menu-breakpoint} {
            display: block;
        }
    }
}


/* :: 4.0 CTA area */

.cta-section {
    @include bg-img;
    background-position: 50% 20%;
    padding-top: 200px;
    @media #{$min-width-md} {
        padding-top: 275px;
    }
    @media #{$menu-breakpoint} {
        background-attachment: fixed;
        padding-top: 350px;
    }
    .container-fluid {
        padding: 0 5%;
    }
    &.index {
        background-image: url(../img/bg/F397.jpg);
        .cta-content {
            @include align-items-end;
            @include justify-content-end;
        }
    }
    &.concerts {
        background-image: url(../img/bg/amber-swing-2016-Bertrand-Thibaud-Erwann.jpg);
    }
    &.albums {
        background-image: url(../img/bg/amber-swing-2016-Thibaud-Erwann.jpg);
    }
    &.pro {
        background-image: url(../img/bg/F414.jpg);
    }
    &.contact {
        background-image: url(../img/bg/F396.jpg);
        .cta-content {
            @include align-items-end;
            @include justify-content-end;
        }
    }
    &.mentions-legales {
        background-image: url(../img/bg/F398.jpg);
    }
    .cta-content {
        position: relative;
        z-index: 1;
        @include display-flex(flex);
        .cta-text {
            position: relative;
            z-index: 1;
            margin-right: 15px;
            @media #{$min-width-md} {
                margin-right: 50px;
            }
            h2 {
                color: $white-color;
                font-weight: 900;
            }
            h4 {
                color: $white-color;
                font-weight: normal;
                font-family: $allura-fonts;
            }
        }
    }
}

/* :: 5.0 Footer area */

#footer {
    padding-left: 5%;
    padding-right: 5%;
    .mentions {
        text-align: center;
        padding-bottom: 50px;
        a {
            font-size: 12px;
            font-weight: normal;
        }
    }
    .widgets {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);
        .title {
            * {
                font-weight: 900;
                margin-bottom: 30px;
                margin-top: 20px;
                text-transform: uppercase;
            }
        }
        ul {
            li {
                margin-bottom: 5px;
                a {
                    color: $text-color;
                    font-weight: 600;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
        }
        .signature {
            overflow-x: hidden;
            @include fflex(100%);
            @media #{$min-width-md} {
                font-size: 48px;
            }
            @media #{$min-width-xl} {
                @include fflex(35%);
            }
        }
        .follow-us {
            margin-bottom: 3em;
            @include fflex(100%);
            @media #{$min-width-md} {
                @include fflex(33.333333%);
            }
            @media #{$min-width-xl} {
                @include fflex(20%);
            }
        }
        .contact-us {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content-between;
            font-family: $roboto-fonts;
            margin-bottom: 3em;
            @include fflex(100%);
            @media #{$min-width-md} {
                @include fflex(66.666667%);
            }
            @media #{$min-width-xl} {
                @include fflex(45%);
            }
            .title {
                @include fflex(100%);
                @media #{$min-width-sm} {
                    text-align: center;
                }
            }
            ul {
                @include fflex(100%);
                margin-bottom: 2em;
                &:last-child {
                    margin-bottom: 0;
                }
                @media #{$min-width-sm} {
                    @include fflex(calc(50% - 3em));
                    margin-left: 3em;
                    margin-bottom: 0;
                }
            }
        }
    }
    .copywrites {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include align-items-end;
        .authors,
        .owner {
            @include flex(0 0 100%);
            @media #{$min-width-md} {
                @include flex(0 0 50%);
            }
            font-size: 0.8rem;
            margin-bottom: 25px;
            color: $text-color;
            font-weight: 500;
            a {
                color: $bg-default;
                font-size: 0.9rem;
                font-weight: bold;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
        .owner {
            @media #{$min-width-md} {
                text-align: right;
            }
        }
    }
}

/* :: 6.0 Page index */

/* :: 6.1.0 Home slides area */

.home-area {
    position: relative;
    z-index: 1;
    .home-slides {
        position: relative;
        z-index: 1;
        .single-home-slide {
            @include display-flex(flex);
            @include align-items-end;
            @include justify-content-end;
            width: 100%;
            height: 100vh;
            position: relative;
            z-index: 1;
            padding: 0 30px;
            overflow: hidden;
            &.dark-filter::after {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -5;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                content: '';
            }
            .slide-img {
                position: absolute;
                @include bg-img;
                width: 100%;
                height: 100%;
                z-index: -10;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            .home-slides-content {
                text-align: center !important;
                margin-bottom: 10%;
                h2 {
                    font-family: $billionaire-fonts;
                    position: relative;
                    z-index: 1;
                    font-size: 50px;
                    color: $white-color;
                    font-weight: 600;
                    text-shadow: 18px 0 0 rgba(255, 45, 109, 0.2);
                    @media #{$min-width-md} {
                        font-size: 100px;
                    }
                    @media #{$min-width-lg} {
                        font-size: 130px;
                    }
                    span {
                        position: absolute;
                        top: 0;
                        left: -18px;
                        color: rgba(132, 57, 255, 0.2);
                        text-shadow: none;
                        z-index: -5;
                    }
                }
                p {
                    text-align: right;
                    font-size: 30px;
                    margin-top: -20px;
                    color: $white-color;
                    font-family: $allura-fonts;
                    @media #{$min-width-md} {
                        font-size: 60px;
                        margin-top: -70px;
                    }
                }
            }
        }
    }
}

.home-slides .owl-item.active .single-home-slide .slide-img {
    @include animation(home-slide 15s linear infinite);
}

#new-album {
    padding: 75px 0;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    color: #fff;
    img#bandeau-whats-your-jive {
        margin-bottom: 50px;
        @media #{$min-width-md} {
            width: 75%;
        }
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* :: 6.2.0 About us section */

#about-us {
    background-image: url('../img/logo/logo-noir-750x750.png');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 75px 0;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    .main-visuel {
        text-align: center;
        margin-bottom: 50px;
    }
    .biography-area {
        @include row;
        @include align-items(center);
        padding-left: 15px;
        padding-right: 15px;
        .content,
        .thumbnails {
            @include fflex(100%);
            @media #{$min-width-lg} {
                @include fflex(50%);
            }
        }
        .content {
            margin-bottom: 50px;
            @media #{$min-width-lg} {
                padding-right: 3em;
            }
            h4 {
                color: $white-color;
                margin-bottom: 50px;
            }
            p {
                color: $white-color;
            }
        }
        .thumbnails {
            position: relative;
            margin-bottom: 25px;
            @media #{$min-width-md} {
                margin-bottom: 50px;
                text-align: center;
            }
            img {
                @include transition(opacity 2s);
                &.hidden {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    .about-musiciens {
        /**
         * Responsive musiciens cards if js is not actived.
         * Better to according with musiciens.owlCarousel(); parameters in
         * js/main.js
         */
        .no-js & {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
            .artiste-card {
                @include fflex(100%);
                @media #{$min-width-md} {
                    @include fflex(48%);
                }
                @media #{$min-width-lg} {
                    @include fflex(32%);
                }
            }
        }
        .artiste-card {
            text-align: center;
            margin: 25px 5px;
            padding: 50px 0;
            background-color: rgba(0, 0, 0, 0.25);
            * {
                color: $white-color;
            }
            .name {
                text-transform: uppercase;
            }
            img {
                border-radius: 50%;
                border: 0.5rem solid fade-out($white-color, 0.8);
                margin: 10px auto;
                width: 200px;
                height: 200px;
            }
        }
        .owl-nav {
            .owl-prev,
            .owl-next,
            button.owl-prev,
            button.owl-next {
                background-color: transparent;
                color: $white-color;
                @include animation(blink 2s linear infinite);
                &:hover {
                    background: none;
                }
            }
        }
    }
}

/* :: 6.3.0 Next shows section */

#concerts {
    position: relative;
    background-color: $bg-default;
    padding: 75px 0;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    @media #{$min-width-lg} {
        background-image: url(../img/musiciens/Bertrand-bg.jpg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 35%;
    }
    .container {
        overflow-x: hidden;
        .event {
            position: relative;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include align-items(center);
            background-color: rgba(12, 5, 39, 0.90);
            border-bottom: 1px solid #49445d;
            padding: 30px 0;
            &:last-child {
                border-bottom: none;
            }
            .date-area {
                order: 10;
                @include fflex(45%);
                margin-bottom: 20px;
                text-align: center;
                @media #{$min-width-lg} {
                    @include fflex(12%);
                    margin-bottom: 0;
                }
                * {
                    color: $white-color;
                }
                .month {
                    text-transform: capitalize;
                }
            }
            .time-area {
                order: 20;
                @include fflex(45%);
                margin-bottom: 40px;
                text-align: center;
                line-height: 1;
                color: $white-color;
                @media #{$min-width-lg} {
                    order: 40;
                    @include fflex(10%);
                    margin-bottom: 0;
                }
            }
            .description-area {
                order: 40;
                @include fflex(100%);
                @include display-flex(flex);
                @include flex-wrap(wrap);
                @include align-items(center);
                margin-bottom: 20px;
                @media #{$min-width-lg} {
                    order: 20;
                    @include fflex(58%);
                    margin-bottom: 0;
                }
                a {
                    color: $white-color;
                }
                .img-area {
                    @include fflex(64px);
                    margin-right: 15px;
                    color: $white-color;
                    @media #{$min-width-md} {
                        @include fflex(84px);
                    }
                }
                .infos-area {
                    @include fflex(calc(100% - 79px)); // 64px + 15px
                    @media #{$min-width-md} {
                        @include fflex(calc(100% - 99px)); // 84px + 15px
                    }
                    overflow: hidden;
                    word-wrap: break-word;
                    color: $white-color;
                    h4 {
                        margin-bottom: 0;
                        color: $white-color;
                        text-transform: uppercase;
                        font-weight: 900;
                        font-size: 14px;
                        @media #{$min-width-md} {
                            font-size: 18px;
                        }
                    }
                    h5 {
                        color: $white-color;
                        font-weight: normal;
                        margin-bottom: 0;
                        font-size: 13px;
                        @media #{$min-width-md} {
                            font-size: 15px;
                        }
                    }
                }
            }
            .buttons-area {
                order: 50;
                @include fflex(0 0 100%);
                margin: auto;
                @media #{$min-width-lg} {
                    @include fflex(15%);
                }
                a.btn {
                    margin-bottom: 5px;
                    padding: 0 10px;
                    min-width: 0;
                    @media #{$min-width-sm} {
                        min-width: 133px;
                        padding: 0 25px;
                    }
                    @media #{$min-width-lg} {
                        display: block;
                    }
                    &:hover {
                        box-shadow: 0 0 60px rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }
    .bottom-link {
        text-align: center;
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        a {
            color: $white-color;
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
}

/* :: 6.4.0 Videos carousel section */

#videos-section {
    padding: 75px 5px;
    @media #{$min-width-md} {
        padding: 100px 5px;
    }
    text-align: center;
    .owl-carousel {
        /**
         * NO-JS slider for videos gallery.
         */
        .no-js & {
            overflow-x: auto;
            @include display-flex(flex);
            .video-card {
                /**
                 * Responsive video size.
                 * Better to according with videos.owlCarousel(); parameters in
                 * js/main.js
                 */
                @include fflex(100%);
                @media #{$min-width-sm} {
                    @include fflex(48%);
                }
                @media #{$min-width-lg} {
                    @include fflex(32%);
                }
                @media #{$min-width-xl} {
                    @include fflex(25%);
                }
                margin-right: 45px;
                .video-info {
                    position: relative;
                }
            }
        }
        .video-card {
            overflow: hidden;
            img {
                @include trans-duration(1000ms);
            }
            .video-info {
                @include display-flex(flex);
                @include justify-content-between;
                @include trans-duration(500ms);
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.74);
                z-index: 10;
                padding: 15px;
                color: $white-color;
                @media #{$min-width-md} {
                    padding: 30px;
                }
                * {
                    color: $white-color;
                }
                .number {
                    position: absolute;
                    top: 0;
                    left: 10px;
                    margin-bottom: 5px;
                }
                p {
                    margin-bottom: 0;
                    line-height: 1;
                }
                i.fa-youtube {
                    font-size: 48px;
                }
            }
            &:hover,
            &:focus {
                .video-info {
                    @include bg-gradients-inverse;
                    opacity: 0.8;
                }
                img {
                    @include transform(scale(1.2));
                }
            }
        }
    }
}

/* :: 6.5.0 Featured album section */

#featured-album-section {
    position: relative;
    padding: 75px 0;
    background-color: $bg-default;
    margin: auto;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    @media #{$min-width-lg} {
        background-image: url(../img/musiciens/Ludovic-bg.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 600px auto;
    }
    .quote {
        float: right;
        background: $border-color;
        color: $text-color;
        font-size: 18px;
        font-weight: 600;
        text-align:right;
        margin-top: -60px;
        padding: 10px;
        .big {
            font-size: 24px;
            font-weight: bolder;
        }
        @media #{$min-width-lg} {
            width: 65%;
        }
        @media #{$min-width-xl} {
            width: 50%;
        }
    }
    .btn:hover {
        box-shadow: 0 0 60px rgba(255, 255, 255, 0.5);
    }
    .album-content {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
        background-color: $bg-secondary;
        width: 100%;
        .album-cover {
            @include fflex(100%);
            padding: 30px 15px;
            text-align: center;
            @media #{$min-width-lg} {
                @include fflex(45%);
            }
            .album-buy-area {
                @include display-flex(flex);
                @include flex-wrap(wrap);
                @include align-items(center);
                @include justify-content(center);
                margin-top: 25px;
                .musica-btn:first-child {
                    margin-left: 0.5rem;
                }
                .musica-btn:last-child {
                    margin-right: 0.5rem;
                }
                .musica-btn {
                    min-width: 100px;
                    padding: 0 10px;
                    @media #{$min-width-xs} {
                        min-width: 133px;
                        padding: 0 20px;
                    }
                }
            }
        }
        .album-overview {
            @include fflex(100%);
            @media #{$min-width-lg} {
                @include fflex(55%);
                margin-top: 20px;
            }
            .album-info {
                .album-title {
                    margin-bottom: 20px;
                    h6 {
                        font-size: 12px;
                        font-weight: 900;
                        color: $third-color;
                        text-transform: uppercase;
                        margin-left: 45px;
                    }
                    h5 {
                        margin-left: 25px;
                        font-weight: 900;
                        color: $white-color;
                    }
                }
            }
            .playlistEr {
                color: white;
                ul {
                    background-color: $purple;
                    li {
                        &:hover {
                            background-color: $bg-secondary;
                        }
                        &.selected {
                            color: $hover-color;
                        }
                    }
                }
                .player {
                    background-color: $bg-secondary;
                }
            }
        }
    }
}

/* :: 6.6.0 Gallery area */

.gallery-area {
    background-color: $bg-default;
    padding: 15px 0;
    text-align: center;
    .owl-carousel {
        padding: 15px 5px;
        /**
         * Owl carousel - vertical align middle
         */
        .owl-wrapper {
            display: table;
        }
        .owl-item {
            display: table-cell;
            float: none;
            vertical-align: middle;
            padding: 0 5px;
            min-width: 250px;
        }
        img {
            border: 2px solid $white-color;
        }
        /**
         * NO-JS slider for posters gallery.
         */
        .no-js & {
            overflow-x: auto;
            white-space: nowrap;
            img {
                margin-right: 5px;
            }
            &.posters-top-slider {
                img {
                    max-height:  175px;
                }
            }
            &.posters-bottom-slider {
                img {
                    max-height:  400px;
                }
            }
        }
    }
}

/* :: 7.0 Page albums */

#albums-section {
    background-color: $bg-secondary;
    padding: 75px 10px;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    .container {
        @media #{$min-width-xl} {
            max-width: initial;
        }
    }
    .album {
        @include row;
        @include align-items(center);
        @include justify-content(center);
        .cover-area,
        .description-area,
        .scene-area {
            @include fflex(100%);
            padding: 30px 0;
            .date {
                text-transform: capitalize;
            }
        }
        .cover-area {
            z-index: 2;
            text-align: center;
            @media #{$min-width-lg} {
                @include fflex(60%);
            }
            @media #{$min-width-xl} {
                @include fflex(35%);
                text-align: right;
            }
        }
        .description-area {
            z-index: 1;
            background-color: $border-color;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
            max-width: 450px;
            @media #{$min-width-lg} {
                @include fflex(40%);
            }
            @media #{$min-width-xl} {
                @include fflex(30%);
            }
            img.melodinote {
                display: none;
                @media #{$min-width-xs} {
                    display: inline;

                }
            }
            .key-notes {
                margin-bottom: 3em;
            }
            .buy-buttons {
                @include row;
                margin-top: 3em;
                a.btn {
                    @include fflex(100%);
                    margin-bottom: 1em;
                }
            }
        }
        .scene-area {
            z-index: 0;
            display: none;
            @media #{$min-width-xl} {
                display: inline;
                @include fflex(35%);
            }
        }
        &.black-market-stuff {
            @media #{$min-width-lg} {

                .scene-area {
                    margin-left: -50px;
                }
            }
            @media #{$min-width-xxl} {
                .scene-area {
                    z-index: 2;
                }
            }
        }
        &.whats-your-give, &.hot-swing-sextet {
            .scene-area {
                margin-right: -100px;
            }
            @media #{$min-width-lg} {
                .cover-area {
                    order: 13;
                    margin-left: -100px;
                }
                .scene-area {
                    order: -1;
                }
            }
        }
    }
}

/* :: 8.0 Page pro */

#pro-section {
    background-color: $bg-default;
    padding: 75px 10px;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    h5 {
        color: $white-color;
    }
    .visuels-area {
        @include row;
        @include align-items(center);
        margin-bottom: 4em;
        // Wow.js animations from sides.
        overflow-x: hidden;
        .links-area {
            @include fflex(100%);
            text-align: center;
            margin-bottom: 3em;
            h6 {
                margin-bottom: 3em;
                color: $white-color;
            }
            a.btn {
                margin-bottom: 1em;
            }
        }
        p {
            color: $border-color;
            background-color: $bg-secondary;
            padding: 30px 10px;
            @include fflex(100%);
            margin-bottom: 1em;
            &.desc-1 {
                @media #{$min-width-md} {
                    @include fflex(33.333333%);
                    text-align: right;
                }
            }
            &.desc-2 {
                @media #{$min-width-sm} {
                    @include fflex(50%);
                }
                @media #{$min-width-lg} {
                    @include fflex(33.333333%);
                }
            }
        }
        .poster {
            padding: 0;
            @include fflex(100%);
            margin-bottom: 1em;
            &.poster-1 {
                @media #{$min-width-md} {
                    @include fflex(66.666667%);
                    padding-left: 15px;
                }
            }
            &.poster-2 {
                text-align: center;
                @media #{$min-width-sm} {
                    @include fflex(50%);
                    text-align: right;
                    padding-right: 15px;
                }
            }
        }
    }
    .reference-scene {
        @include row;
        @include align-items(center);
        @include justify-content(center);
        color: $border-color;
        background-color: $bg-secondary;
        padding: 20px 10px;
        margin-bottom: 3em;
        ul {
            h6 {
                color: $border-color;
            }
            @include fflex(100%);
            @media #{$min-width-lg} {
                @include fflex(49%);
            }
        }
    }
}

#dossier-presse-section {
    background-color: $bg-default;
    padding: 75px 0;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    .pages {
        @include row;
        padding: 0 10px;
        .page,
        .downloadBtn {
            @include fflex(100%);
            margin: 2em 0;

        }
        .page {
            text-align: right;
            border: 1px solid gray;
        }
    }
}

#fiche-technique-section {
    background-color: $bg-default;
    padding: 75px 0;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    .fiche-technique {
        margin: 3em -15px;
        padding: 25px 10px;
        color: $white-color;
        background-color: $bg-secondary;
        h1,
        h3,
        h4,
        h5,
        h6 {
            font-variant: small-caps;
            color: $white-color;
        }
        h4 {
            margin: 1em;
        }
        h5,
        h6 {
            margin-left: 1em;
            @media #{$min-width-md} {
                margin-left: 4em;
            }
        }
        h6 {
            color: $third-color;
        }
        p {
            color: $white-color;
            @media #{$min-width-md} {
                margin-left: 2em;
            }
        }
        ul {
            margin: 2em 0;
            li {
                margin-left: 0.5em;
                list-style-type: initial;
                @media #{$min-width-md} {
                    margin-left: 2em;
                }
            }
            &.regie-generale {
                color: $third-color;
                font-weight: bold;
                li {
                    list-style-type: none;
                    a {
                        color: $third-color;
                        font-weight: bold;
                        &:hover {
                            color: $hover-color;
                        }
                    }
                }
            }
        }
        .date {
            text-align: right;
        }
        .important {
            font-weight: 600;
            text-align: center;
            line-height: initial;
            margin: 2em;
        }
        table {
            counter-reset:case;
            tbody th:before {
                counter-increment: case;
                content: counter(case);
            }
        }
    }
    .downloadBtn {
        margin: 3em 0;
    }
}

/* :: 9.0 Page contact */

#contact-section {
    .video-area,
    .contact-area {
        @include fflex(100%);
    }
    .video-area {
        background-image: url(../img/logo/logo-noir-750x750.png);
        background-color: $bg-secondary;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (orientation: landscape) {
            height: 75vh;
            @media #{$menu-breakpoint} {
                height: initial;
            }
        }
        @media #{$menu-breakpoint} {
            @include fflex(65%);
        }
        .video-bg {
            @include display-flex(flex);
            background-color: black;
            height: 100%;
            width: 100%;
            &.hide {
                @include transition(opacity 2s);
                opacity: 0;
            }
            video {
                width: 100%;
            }
        }
    }
    .contact-area {
        background-color: $border-color;
        padding: 30px 10px;
        @media #{$menu-breakpoint} {
            @include fflex(35%);
        }
        .container {
            max-width: 400px;
            @media #{$min-width-xl} {
                margin-left: 0;
            }
            .title {
                font-family: $allura-fonts;
                color: gray;
                font-weight: normal;
            }
            form {
                margin: 20px 0;
                .form-control {
                    display: inline-block;
                    height: 45px;
                    width: 100%;
                    background-color: $bg-gray;
                    font-size: 12px;
                    border: none;
                    border-radius: 0;
                    padding: 15px 30px;
                    font-style: italic;
                    font-weight: 700;
                    border-bottom: 2px solid transparent;
                    @include trans-duration(500ms);
                    &:focus {
                        box-shadow: none;
                        border-bottom: 2px solid $hover-color;
                    }
                }
                textarea.form-control {
                    height: 180px;
                }
            }
        }
    }
}


/* :: 10.0 Mentions legales page */

#mentions-legales-section {
    background-color: $bg-default;
    padding: 75px 0;
    @media #{$min-width-md} {
        padding: 100px 0;
    }
    h4,
    h5,
    h6,
    p,
    ul,
    a {
        color: $white-color;
    }
    h4 {
        text-align: center;
        margin-bottom: 1.5rem;
    }
    a {
        font-weight: 800;
        &:hover {
            color: $hover-color;
            text-shadow: 1px 1px 0 black;
        }
    }
    p,
    ul {
        margin-left: 2em;
        margin-bottom: 3em;
    }
    .container {
        padding: 25px 10px;
        background-color: $bg-secondary;
        @media #{$min-width-md} {
            padding: 25px 6rem;
        }
    }
}
